<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Beauty MakeUp</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
</head>
<body>

<h1> Efetuar login </h1>

<form method="POST" action="/person/login">

  <div class="form-group">
    <label>Usuário: </label>
    <input type="text" name="username" class="form-control"></input>
  </div>
  
  <div class="form-group">
    <label>Senha: </label>
    <input type="text" name="password" class="form-control"></input>
  </div>
  
  <input type="submit" value="Login" class="btn btn-primary"></input>
</form>

<script src="/js/bootstrap.min.js">  </script>
</body>
</html>