<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Beauty MakeUp</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
</head>
<body>

<div class="container">
	<div class="row" id="row">
	    <section class="3u" id="product" th:each="product : ${allProducts}">
	        <a class="image full">
	        	<img width="400px" th:src="@{'' + ${product.address}}" th:alt="${product.name}"></img>
	        </a>
	        <p id="description" th:text="${product.name}"></p>
	        <p id="price" th:text="${'Por: R$ ' + product.price}"></p>
	        <button type="button" class="button">Comprar</button>
	    </section>
	</div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Preço</th>
      <th scope="col">Quantidade</th>
      <th scope="col">Imagem</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="product : ${allProducts}">
      <td th:text="${product.id}"></td>
      <td th:text="${product.name}"></td>
      <td th:text = "${product.price}"></td>
      <td th:text="${product.quantity}"></td>
      <td><img th:width="30px" th:src="@{'' + ${product.address}}" th:alt="${product.name}"></img></td>
      
      <td> <a th:href="@{/product/{id}(id = ${product.id})}">
      	<button type="button" class="btn btn-primary"> Atualizar </button> </a> </td>
      <td> <a th:href="@{/product/remove/{id}(id = ${product.id})}">
      	<button type="button" class="btn btn-danger"> Excluir </button> </a> </td>
    </tr>
  </tbody>
</table>

<script src="/js/bootstrap.min.js"></script>
</body>
</html>