<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Beauty MakeUp</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
</head>
<body>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">CPF</th>
      <th scope="col">Data de Nascimento</th>
      <th scope="col">Endereço</th>
      <th scope="col">Usuário</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="person : ${allPeople}">
      <td th:text = "${person.id}"></td>
      <td th:text = "${person.name}"></td>
      <td th:text = "${person.cpf}"></td>
      <td th:text = "${person.birthday}"></td>
      <td th:text = "${person.address}"></td>
      <td th:text = "${person.login}"></td>
       
      <td> <a th:href="@{/person/{id}(id = ${person.id})}">
      	<button type="button" class="btn btn-primary"> Atualizar </button> </a> </td>
      <td> <a th:href="@{/person/remove/{id}(id = ${person.id})}">
      	<button type="button" class="btn btn-danger"> Excluir </button> </a> </td>
    </tr>
  </tbody>
</table>

<script src="/js/bootstrap.min.js"></script>
</body>
</html>